// -----------------------------------------------------------------------------
//  mobile mixins
// -----------------------------------------------------------------------------
@import "mobile_mixins";


// -----------------------------------------------------------------------------
//  global variables
// -----------------------------------------------------------------------------
$borderW: 1px;
$borderClr: #000;


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


// -----------------------------------------------------------------------------
// font styles
// -----------------------------------------------------------------------------
h1 {
  font-weight: normal;
  font-size: 60px;
}

// -----------------------------------------------------------------------------
// container styling
// -----------------------------------------------------------------------------
.container {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  @include iphone {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}

// -----------------------------------------------------------------------------
// tab-container styling
// -----------------------------------------------------------------------------
.tab-container {
  float: left;
  width: calc( 100% / 3);

  // mobile stuy  // mobile styling ------------------------------------------------------------
  @include iphone {

    // changes to full width for mobile
    width: 100%;
  }

} // end container styling

// -----------------------------------------------------------------------------
// tab-styling
// -----------------------------------------------------------------------------
.tab {
  border: $borderW solid $borderClr;
  height: 40px;
  position: relative;
  transition: .3s cubic-bezier(.08,.65,.6,.88);

  // link styling
  a {
    transition: .3s cubic-bezier(.08,.65,.6,.88);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // hover state
  &:hover {
    background: #000;
    a {
      color: #fff;
    }
  }

  // active tab styling
  &.active {
    background: #000;
    a {
      color: #fff;
    }
  }

  // close-x
  .close-x {
    display: none;
  }

  // removes left and right border on middle tab
  &.tab-2 {
    border-left: none;
    border-right: none;
  }


  // mobile styling ------------------------------------------------------------
  @include iphone {


    // removes left and right border for mobile
    border-left: none;
    border-right: none;

    // changes font alignment
    a {
      left: 25px;
      transform: translate(0, -50%);
    }

    // changes active background for mobile
    &.active {
      background: #fff;

      // changes font color for mobile for active state
      a {
        color: #000;
      }

      // removes bottom border on 3rd tab when active
      &.tab-3 {
        border-bottom: none;
      }

      // rotates close-x on active window
      & > .close-x {
        span:first-child {
          transform: translate(-50%, -50%) rotate(0);
        }
      }
    }

    // removes bottom border for first and second tab
    &.tab-1, &.tab-2 {
      // border-top: none;
      border-bottom: none;
    }

    // close-x
    .close-x {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      span {
        transition: .3s cubic-bezier(.08,.65,.6,.88);
        display: block;
        height: 2px;
        width: 100%;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:first-child {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

  } // -------------------------------------------------------------------------

} // end tab styling


// -----------------------------------------------------------------------------
// tab content styling
// -----------------------------------------------------------------------------
.tab-content {
  position: absolute;
  left: 50%;
  transition: .3s cubic-bezier(.08,.65,.6,.88);
  transform: translateX(-50%);
  width: 75%;
  overflow: hidden;
  opacity: 0;

  // fades in content
  &.active {
    opacity: 1;
  }

  // colum styling
  .col-container {
    width: 80%;
    background: red;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .col {
      float: left;
      width: calc(100% / 3);
      h1 {
        margin: 50px 0 5px 0;
      }
      p {
        margin-top:  0;
        font-size: 20px;
      }

      // adds bottom border to center item
      .center {
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
        width: 50px;
        margin: 0 auto  40px auto;
      }
    }
  }

  // styles content body
  h1, p {
    clear: both;
    text-align: center;
  }




  // mobile styling ------------------------------------------------------------
  @include iphone {
    width: 90%;
    position: relative;
    max-height: 0;

    // animates height on active for mobile
    &.active {
      max-height: 500px;
    }

    // col styling
    .col-container {
      width: 100%;
      .col {
        h1 {
          margin: 20px 0;
          font-size: 36px;
        }
      }

    }



  } // -------------------------------------------------------------------------
}
